/* .scrollbar {
	overflow-y: hidden;
	scrollbar-gutter: stable;
}

.scrollbar:hover {
	overflow-y: auto;
} */

.scrollbar::-webkit-scrollbar {
	width: 8px;
	height: 0px;
}

.scrollbar::-webkit-scrollbar-track {
	border-radius: 100vh;
	background: #878787;
}

.scrollbar::-webkit-scrollbar-thumb {
	background: #5a5a5a;
	border-radius: 100vh;
}
